@model ogani_master.Models.Blog

@{
    ViewData["Title"] = "Create Blog";
}

<div class="app-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Create Blog</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label">Title</label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Image" class="control-label">Image</label>
                                <input asp-for="Image" class="form-control" type="file" accept="image/*" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Content" class="control-label">Content</label>
                                <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success">Create Blog</button>
                                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Header {
    <link rel="stylesheet" href="~/Admin/plugins/ckeditor5/ckeditor5.css">
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "/Admin/plugins/ckeditor5/ckeditor5.js",
                "ckeditor5/": "/Admin/plugins/ckeditor5/"
            }
        }
    </script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Font,
            Heading,
            Alignment,
            BlockQuote,
            Link,
            List,
            Table,
            TableToolbar,
            Image,
            ImageToolbar,
            ImageCaption,
            ImageStyle,
            ImageResize,
            MediaEmbed,
            CodeBlock,
            HorizontalLine,
            Highlight
        } from 'ckeditor5';

        ClassicEditor
            .create(document.querySelector('#Content',), {
                plugins: [Essentials, Paragraph, Bold, Italic, Font, Heading, Alignment,
                    BlockQuote, Link, List, Table, TableToolbar, Image, ImageToolbar,
                    ImageCaption, ImageStyle, ImageResize, MediaEmbed, CodeBlock,
                    HorizontalLine, Highlight],
                toolbar: [
                     'undo', 'redo', '|', 'heading', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', '|',
                    'alignment', 'highlight', '|', 'link', 'blockQuote', 'codeBlock',
                    '|', 'bulletedList', 'numberedList', '|',
                    'insertTable', 'mediaEmbed', 'horizontalLine', '|',
                    'imageUpload'
                ],
                table: {
                    contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells']
                },
                image: {
                    toolbar: ['imageStyle:full', 'imageStyle:side', '|', 'imageTextAlternative'],
                    resizeUnit: 'px',
                    styles: ['full', 'side']
                }
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}
