@model ogani_master.dto.ForgotPasswordDto;

@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<title>Forgot Password</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fontsource/source-sans-3@5.0.12/index.css" />

	<link rel="stylesheet" href="~/User/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(@Url.Content("~/User/images/bg-forgot-pw.jpg")); filter: drop-shadow(2px 4px 6px black);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">SignIn</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Have an account?</h3>
						<form asp-controller="Auth" asp-action="ForgotPassword" class="signin-form">
							<div class="form-group">
								<input asp-for="Username" type="text" class="form-control" placeholder="Username" required>
								<span asp-validation-for="Username" class="text-danger"></span>
							</div>

							<div class="form-group">
								<input asp-for="email" type="email" class="form-control" placeholder="Email" required>
								<span asp-validation-for="email" class="text-danger"></span>
							</div>

							@if (ViewData["ErrorMessage"] != null || TempData["ErrorMessage"] != null)
							{
								<div class="alert alert-danger">
									@(ViewData["ErrorMessage"] ?? TempData["ErrorMessage"])
								</div>
							}

							@if (ViewData["SuccessMessage"] != null || TempData["SuccessMessage"] != null)
							{
								<div class="alert alert-success">
									@(ViewData["SuccessMessage"] ?? TempData["SuccessMessage"])
								</div>
							}
						
							
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Get New Password</button>
							</div>
							
						</form>
						<div class="d-flex justify-content-end">
							<label>
								You have an account?
							</label>
							<a asp-controller="Auth" asp-action="SignInPage" style="color: #ff0000">SignIn</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/User/js/main.js"></script>

</body>
</html>

