@model ogani_master.Models.Banner

@{
    ViewData["Title"] = "Edit";
}

<div class="app-content mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Edit Banner</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="BAN_ID" />

                            <div class="form-group">
                                <label asp-for="Title" class="control-label">Title</label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            

                            <div class="form-group">
                                <label class="mt-2 mb-2">Current Image</label>
                                @if (!string.IsNullOrEmpty(Model.Image))
                                {
                                    <div>
                                        <img src="~/data/banner/@Model.Image" alt="Current Banner" style="max-width: 200px; height: 200px;" />
                                    </div>
                                }
                                else
                                {
                                    <p>No current image available. Please upload a new image.</p>
                                }
                            </div>
                            <div class="form-group">
                                <label for="Image" class="control-label mt-2 mb-2">Upload New Image <label class="text-danger"><i>Recommended image size is 1000px x 1000px</i> </label></label>
                                <input type="file" asp-for="Image" class="form-control" id="Image" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="mt-2 mb-2">Preview New Image</label>
                                <img id="imgPreview" src="" alt="Image Preview" style="max-width: 200px; height: 200px; margin-top: 10px; margin-bottom: 10px;" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Url" class="control-label mt-2 mb-2">URL</label>
                                <input asp-for="Url" class="form-control" />
                                <span asp-validation-for="Url" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DisplayOrder" class="control-label mt-2 mb-2">DisplayOrder</label>
                                <input asp-for="DisplayOrder" type="number" class="form-control" />
                                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Save" class="btn btn-success" />
                                <a asp-action="Index" class="btn btn-secondary ms-3">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    window.onload = () => {
        document.getElementById("Image").onchange = (e) => {
            var preview = document.getElementById('imgPreview');
            var file = e.target.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = '';
            }
        };
    };
</script>
