@model ogani_master.dto.UserRegistrationV2Dto;

@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<title>SignUp</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
	<link rel="stylesheet" href="~/Admin/plugins/font-awesome/css/all.css" />
	<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fontsource/source-sans-3@5.0.12/index.css" />

	<link rel="stylesheet" href="~/User/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(@Url.Content("~/User/images/bg-signUpV2.jpg")); filter: drop-shadow(2px 4px 6px black);">

	<form class="d-none" asp-controller="Auth" asp-action="SendOtp" method="post">
		@Html.AntiForgeryToken()
		<button type="submit" id="reSendMail"></button>
	</form>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">SignUp</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">You don't have an account?</h3>
						<form asp-controller="Auth" asp-action="VerifySignUpV2" class="signin-form">
							<div class="form-group">
								<input asp-for="UserName" type="text" class="form-control" placeholder="Username" required>
								<span asp-validation-for="UserName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<input asp-for="Password" id="password-field" type="password" class="form-control" placeholder="Password" required>
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>

							<div class="form-group">
								<input asp-for="ConfirmPassword" id="confirm-password-field" type="password" class="form-control" placeholder="Confirm Password" required>
								<span toggle="#confirm-password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
								<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
							</div>

							<div style="position: relative" class="form-group">
								<input asp-for="otp" id="confirm-password-field" type="text" class="form-control" placeholder="Otp" required>
								<div style="position: absolute; right: 12px; top: 50%; transform: translateY(-50%)">
									<label for="reSendMail" class="fa-solid fa-rotate-right"></label>
								</div>
								<span asp-validation-for="otp" class="text-danger"></span>
							</div>

							@if(TempData["SuccessMessage"] != null)
							{
								<div class="alert alert-success" role="alert">
									<i class="fa-solid fa-check"></i>
									@TempData["SuccessMessage"]
								</div>
							}

							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">SIGNUP</button>
							</div>


						</form>
						<div class="d-flex justify-content-end">
							<label>
								You have an account?
							</label>
							<a asp-controller="Auth" asp-action="SignIn" style="color: #ff0000">SignIn</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/User/js/main.js"></script>

</body>
</html>

