@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["tittle"] = "Home";
}

<div>
    <h1 class="text-center text-primary bg-black font-bold display-1"> Welcome to Admin Dashboard</h1>
</div>