@model ogani_master.Models.Product

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-3">
    <!-- Form Title -->
    <!-- Form Container -->
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card shadow-lg">
                <div class="card-header bg-success text-white">
                    <h5 class="mb-0">New Products</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CAT_ID" class="control-label"></label>
                            @Html.DropDownListFor(
                                     model => model.CAT_ID,
                                     (SelectList)ViewData["CAT_ID"],
                                     "Chọn danh mục", // Dòng placeholder
                                     new { @class = "form-control" } // Thêm class CSS nếu cần
                                     )
                            @Html.ValidationMessageFor(model => model.CAT_ID, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label asp-for="Avatar" class="control-label"></label>
                            <input asp-for="Avatar" class="form-control" type="file" accept="image/*" />
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div>
                                <img id="imgPreview"  style="max-width: 200px; max-height: 200px; border: 1px solid #ddd; margin-top: 10px;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" maxlength="255" oninput="validateLength(this, 255)" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="quantity" class="control-label"></label>
                            <input asp-for="quantity" type="number" class="form-control" />
                            <span asp-validation-for="quantity" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Intro" class="control-label"></label>
                            <input asp-for="Intro" type="text" class="form-control" />
                            <span asp-validation-for="Intro" class="text-danger"></span>
                        </div>

                        <div class="form-group row mt-1">
                            <div class="form-group col-md-2">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" type="number" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label asp-for="DiscountPrice" class="control-label"></label>
                                <input asp-for="DiscountPrice" type="number" class="form-control" />
                                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
                                @if (TempData["ErrorMessage-discountPrice"] != null)
                                {
                                    <span class="text-danger">@TempData["ErrorMessage-discountPrice"]</span>
                                }
                            </div>
                        </div>

                        <div class="form-group row mt-1 ">
                          

                            <div class="form-group col-md-2">
                                <label asp-for="Unit" class="control-label">Đơn vị</label>
                                <div class="input-group">
                                    <!-- Dropdown để chọn các đơn vị có sẵn -->
                                    <select asp-for="Unit" class="form-control" id="unitSelect">
                                        <option value="KG">KG</option>
                                        <option value="Gram">Gram</option>
                                        <option value="Other">Khác</option>
                                    </select>

                                    <!-- Nút thêm nếu chọn "Khác" -->
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-success" id="addOtherOption" style="display: none;">+</button>
                                    </div>
                                </div>

                                <!-- Ô nhập liệu "Khác" -->
                                <div class="form-group col-md-2 mt-2" id="otherUnitContainer" style="display: none; width: 140px;">
                                    <input type="text" id="OtherUnit" name="OtherUnit" class="form-control" maxlength="50" placeholder="Nhập đơn vị khác" />
                                    <span class="text-danger" id="otherUnitError"></span>
                                </div>

                                <span asp-validation-for="Unit" class="text-danger"></span>
                            </div>




                            <input type="hidden" asp-for="Rate" value="0" class="form-control" />
                        </div>

                      

                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Details" class="form-label fw-bold">Details</label>
                            <textarea asp-for="Details" class="form-control"></textarea>
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success me-2 mt-2">
                                <i class="fas fa-save"></i> Create Products
                            </button>
                            <a asp-action="Index" class="btn btn-secondary mt-2">
                                <i class="fas fa-arrow-left"></i> Back to List
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Header {
    <link rel="stylesheet" href="~/Admin/plugins/ckeditor5/ckeditor5.css">
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "/Admin/plugins/ckeditor5/ckeditor5.js",
                "ckeditor5/": "/Admin/plugins/ckeditor5/"
            }
        }
    </script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Font,
            Heading,
            Alignment,
            BlockQuote,
            Link,
            List,
            Table,
            TableToolbar,
            Image,
            ImageToolbar,
            ImageCaption,
            ImageStyle,
            ImageResize,
            MediaEmbed,
            CodeBlock,
            HorizontalLine,
            Highlight
        } from 'ckeditor5';

        ClassicEditor
            .create(document.querySelector('#Details',), {
                plugins: [Essentials, Paragraph, Bold, Italic, Font, Heading, Alignment,
                    BlockQuote, Link, List, Table, TableToolbar, Image, ImageToolbar,
                    ImageCaption, ImageStyle, ImageResize, MediaEmbed, CodeBlock,
                    HorizontalLine, Highlight],
                toolbar: [
                     'undo', 'redo', '|', 'heading', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', '|',
                    'alignment', 'highlight', '|', 'link', 'blockQuote', 'codeBlock',
                    '|', 'bulletedList', 'numberedList', '|',
                    'insertTable', 'mediaEmbed', 'horizontalLine', '|',
                    'imageUpload'
                ],
                table: {
                    contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells']
                },
                image: {
                    toolbar: ['imageStyle:full', 'imageStyle:side', '|', 'imageTextAlternative'],
                    resizeUnit: 'px',
                    styles: ['full', 'side']
                },
                allowedContent: true
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error(error);
            });
             
    </script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Font,
            Heading,
            Alignment,
            BlockQuote,
            Link,
            List,
            Table,
            TableToolbar,
            Image,
            ImageToolbar,
            ImageCaption,
            ImageStyle,
            ImageResize,
            MediaEmbed,
            CodeBlock,
            HorizontalLine,
            Highlight
        } from 'ckeditor5';

        ClassicEditor
            .create(document.querySelector('#Description',), {
                plugins: [Essentials, Paragraph, Bold, Italic, Font, Heading, Alignment,
                    BlockQuote, Link, List, Table, TableToolbar, Image, ImageToolbar,
                    ImageCaption, ImageStyle, ImageResize, MediaEmbed, CodeBlock,
                    HorizontalLine, Highlight],
                toolbar: [
                     'undo', 'redo', '|', 'heading', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', '|',
                    'alignment', 'highlight', '|', 'link', 'blockQuote', 'codeBlock',
                    '|', 'bulletedList', 'numberedList', '|',
                    'insertTable', 'mediaEmbed', 'horizontalLine', '|',
                    'imageUpload'
                ],
                table: {
                    contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells']
                },
                image: {
                    toolbar: ['imageStyle:full', 'imageStyle:side', '|', 'imageTextAlternative'],
                    resizeUnit: 'px',
                    styles: ['full', 'side']
                },
                allowedContent: true
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error(error);
            });

    </script>
    @*==================================== Show IMG Products ======================================================  *@
    <script>
        window.onload = () => {
            document.getElementById("Avatar").onchange = (e) => {
                var preview = document.getElementById('imgPreview');
                var file = e.target.files[0];
                var reader  = new FileReader();

                reader.onloadend = function () {
                  preview.src = reader.result;
                }

                if (file) {
                  reader.readAsDataURL(file);
                } else {
                  preview.src = '';
                }
            };
        }
    </script>
    <script>
        function validateLength(input, maxLength) {
            if (input.value.length > maxLength) {
                alert(`Tên sản phẩm không được vượt quá ${maxLength} ký tự.`);
                input.value = input.value.substring(0, maxLength);
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            // Ẩn ô nhập liệu "Khác" khi chưa chọn
            $('#otherUnitContainer').hide();

            // Khi chọn "Khác", hiển thị ô nhập liệu
            $('#unitSelect').change(function () {
                if ($(this).val() === 'Other') {
                    $('#otherUnitContainer').show();
                } else {
                    $('#otherUnitContainer').hide();
                    $('#OtherUnit').val(''); // Xóa giá trị ô nhập khi chọn lại đơn vị mặc định
                }
            });

            // Khi nhấn nút "Thêm đơn vị khác"
            $('#addOtherOption').click(function () {
                // Thêm "Khác" vào dropdown nếu chưa có
                var currentUnitValue = $('#unitSelect').val();
                if (currentUnitValue !== 'Other') {
                    $('#unitSelect').append('<option value="Other">Khác</option>');
                    $('#unitSelect').val('Other'); // Chọn "Khác"
                    $('#otherUnitContainer').show(); // Hiển thị ô nhập liệu
                }
            });

            // Kiểm tra độ dài nếu nhập vào ô "Khác"
            $('#OtherUnit').on('input', function () {
                var inputValue = $(this).val();
                if (inputValue.length > 50) {
                    $('#otherUnitError').text("Đơn vị không được quá 50 ký tự.");
                    $(this).val(inputValue.substring(0, 50)); // Giới hạn ký tự nhập
                } else {
                    $('#otherUnitError').text("");
                }
            });
        });
    </script>


}




